<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구구단</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="root" class="container">
        <div><h1>{{first}} X {{second}} 는?</h1></div>
        <form v-on:submit="onSubmitForm">
            <div class="row form-group">
            <input class="form-control col-10" type="number" v-model="value" ref="answer">
            <button class="btn btn-primary col" type="submit">입력</button>
        </div>
        </form>
        <div v-if="start" class="alert alert-primary" id=result>{{result}}</div>
    </div>
    <script>
        const app=new Vue({
            el:'#root',
            data:{
                first:Math.ceil(Math.random()*9),
                second:Math.ceil(Math.random()*9),
                value:'',
                result:'',
                start:false
            },
            methods: {
                onSubmitForm(e){
                    e.preventDefault();
                    this.start=true
                    if(this.first*this.second===this.value*1){
                        this.result="정답입니다😍"
                        this.first=Math.ceil(Math.random()*9)
                        this.second=Math.ceil(Math.random()*9)
                        this.value=''
                        this.$refs.answer.focus()
                    }
                    else{
                        this.result="틀렸습니다😒 다시 생각해보세요!"
                        this.$refs.answer.focus()
                    }
                }
            },
        })
    </script>
</body>
</html>